#blade-style-error {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px;
    background: #00000073;
}
#blade-style-error div {
    border-radius: 10px;
    border: 30px solid #0000009e;
    height: calc(100% - 60px);
}
#blade-style-error iframe {
    height: 100%;
    width: 100%;
}
